body {
    font-family: helvetica, sans-serif;
}

h2 {
    font-family: Verdana, Tahoma, sans-serif;
}

#header {
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: #ba3d20;
    color: whitesmoke;
}

#main {
    background-color: whitesmoke;
    padding: 5px;
    width:100%;
    height: 1500px;
    text-align: center;
}

.main-block {
    padding: 5px;
    margin: 5px 0;

    border-style: solid;
    border-width: 2px;
    border-color: rgb(186, 61, 32, 0.35);
}

.project-block {
    padding: 5px;
    /* margin: 5px; */
    margin-bottom: 10px;
    background-color: aquamarine;

    overflow: auto;

}


.project-img {
    height: 150px;
    width: 75%;
    max-width: 375px;
    margin-right: 3px;
}

#profile {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px;
}


/* Handler for when screen becomes wider than 850 --> Desktop/Large tablet size */
@media screen and (min-width: 850px) {
    #header {
        width:30%;
        height: 100vh;
        float: left;
        position:fixed;
    }

    #main {
        width:70%;
        padding: 10px;
        position: relative;
        float: right;
        text-align: left;
    }

    .project-img {
        float: left;

        height: 125px;
        width: 250px;
    }

    .project-block {
        text-align: left;
    }
}